
Right now in <%= @weathers.address %>:
<br/>
 <%= @current_weather.summary %>  
 <br/>
 <%= @current_weather.temperature.to_i %>
<br>
<%= link_to "Back", root_path %>

<h1><%= @weathers.inspect %></h1>



