<!DOCTYPE html>
<html>

  <head>
    <title>Weatherbee</title>
    <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "skycons.js", "data-turbolinks-track" => true  %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://use.fontawesome.com/c90e0f650d.js"></script>
  </head>

  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-light bg-faded">
        <%= link_to 'WeathrNow', root_path, class: 'navbar-brand' %>
      </nav>

    <%= yield %>
    
    </div>
    
    <div id="footer">
      <div class="container">
          <h5>Powered by Dark Sky</h5>
          <h5>Em Estabillo <i class="fa fa-copyright" aria-hidden="true"></i>2017 </h5>
      </div>
    </div>

  </body>
</html>

