<!DOCTYPE html>
<html>
  <head>
    <title>Weatherbee</title>
    <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "skycons.js", "data-turbolinks-track" => true  %>
    
  </head>

  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-light bg-faded">
        <%= link_to 'WeathrNow', root_path, class: 'navbar-brand' %>
      </nav>

    <%= yield %>
    </div>
    <div id="footer">
      <div class="container">
        <h4>Powered by Dark Sky</h4>
        <br/>
      </div>
    </div>
  </body>
</html>

